*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
*.vtu
.CondaPkg
.DS_Store
.benchmarkci
.vscode
/.quarto/
Manifest.toml
_output-presentation
_output-private
_output-public
benchmark/*.json
coverage
docs/build/
env
node_modules
solution
examples/**/*.png
stored
_docs/progress/progress.qmd
*:Zone.Identifier
.*
openspec**