/*-- scss:defaults --*/

// fonts
$presentation-font-size-root: 30px !default;
// colors

// headings

/*-- scss:rules --*/

.math.inline {
  font-size: 100% !important;
}

.math.display .MathJax {
  font-size: 100% !important;
}

.geohazard-img img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.geohazard-source p {
  text-align: center;
  font-size: 1rem !important;
  opacity: 0.7;
  margin-bottom: 0 !important;
}

.geohazard-img p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.geohazard-caption p {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0 !important;
}
